node-red/.flows.json.backup
[
    {
        "id": "10d5b7d852248c2d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76bb5eb420de02af",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1f77bd131f3cda1",
        "type": "mqtt-broker",
        "name": "default-broker",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "32ee08c02388f345",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1f6bb068ce14c72a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "393e2b7eeca6bec8",
        "type": "ui_group",
        "name": "Weather Sensors",
        "tab": "32ee08c02388f345",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1dbf4df87a94135",
        "type": "ui_group",
        "name": "Sprinkler",
        "tab": "32ee08c02388f345",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "50f5bbcda6590df9",
        "type": "mqtt in",
        "z": "10d5b7d852248c2d",
        "name": "",
        "topic": "brain",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f1f77bd131f3cda1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "07632dfd847f42cd",
                "8f34bd268fe5d4c6",
                "479b73513e570c0b"
            ]
        ]
    },
    {
        "id": "07632dfd847f42cd",
        "type": "debug",
        "z": "10d5b7d852248c2d",
        "name": "brain_received_message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "8b5901615ff44505",
        "type": "mqtt in",
        "z": "10d5b7d852248c2d",
        "name": "",
        "topic": "soil",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f1f77bd131f3cda1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "f84e197e206285d7"
            ]
        ]
    },
    {
        "id": "f84e197e206285d7",
        "type": "debug",
        "z": "10d5b7d852248c2d",
        "name": "soil_received_message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "04fa03dfb3add09c",
        "type": "mqtt in",
        "z": "10d5b7d852248c2d",
        "name": "",
        "topic": "weather",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f1f77bd131f3cda1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "4819bb63534df29f",
                "4556d7393ee5fd69"
            ]
        ]
    },
    {
        "id": "4819bb63534df29f",
        "type": "debug",
        "z": "10d5b7d852248c2d",
        "name": "weather_received_message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "8bf38b29bd4cd8bb",
        "type": "ui_gauge",
        "z": "10d5b7d852248c2d",
        "name": "Temperature",
        "group": "393e2b7eeca6bec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "℃",
        "format": "{{msg.payload.temperature}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#0080ff",
            "#00ff40",
            "#ca3838"
        ],
        "seg1": "16",
        "seg2": "24",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 780,
        "wires": []
    },
    {
        "id": "4556d7393ee5fd69",
        "type": "function",
        "z": "10d5b7d852248c2d",
        "name": "function 1",
        "func": "msg.payload.temperature = Math.round(msg.payload.temperature * 100) / 100\nmsg.payload.humidity = Math.round(msg.payload.humidity * 100) / 100\nmsg.payload.wind_speed = Math.round(msg.payload.wind_speed * 100) / 100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 840,
        "wires": [
            [
                "8bf38b29bd4cd8bb",
                "45adfd366598ca3a",
                "caf8c7b458a22327"
            ]
        ],
        "outputLabels": [
            "temperature"
        ]
    },
    {
        "id": "45adfd366598ca3a",
        "type": "ui_gauge",
        "z": "10d5b7d852248c2d",
        "name": "Humidity Level",
        "group": "393e2b7eeca6bec8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#cc0000",
            "#e6e600",
            "#0080c0"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 840,
        "wires": []
    },
    {
        "id": "caf8c7b458a22327",
        "type": "ui_text",
        "z": "10d5b7d852248c2d",
        "group": "393e2b7eeca6bec8",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "Wind Speed ",
        "label": "Wind speed",
        "format": "{{msg.payload.wind_speed}}km/h",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 900,
        "wires": []
    },
    {
        "id": "0496f6bb10ee5bb3",
        "type": "ui_gauge",
        "z": "10d5b7d852248c2d",
        "name": "Water Level",
        "group": "e1dbf4df87a94135",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Water level",
        "label": "L",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "8f34bd268fe5d4c6",
        "type": "function",
        "z": "10d5b7d852248c2d",
        "name": "function 2",
        "func": "msg.payload.temperature = Math.round(parseFloat(msg.payload.temperature) * 100) / 100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "0496f6bb10ee5bb3"
            ]
        ]
    },
    {
        "id": "f88380e7861264fc",
        "type": "ui_switch",
        "z": "10d5b7d852248c2d",
        "name": "Sprinkler switch",
        "label": "Turn on sprinkler",
        "tooltip": "",
        "group": "e1dbf4df87a94135",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "soil",
        "topicType": "msg",
        "style": "",
        "onvalue": "start_irrigation",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stop_irrigation",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "f2e06b1c1ac16aa7"
            ]
        ]
    },
    {
        "id": "f2e06b1c1ac16aa7",
        "type": "mqtt out",
        "z": "10d5b7d852248c2d",
        "name": "",
        "topic": "ui",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1f77bd131f3cda1",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "e0439a18e1e1dae5",
        "type": "ui_slider",
        "z": "10d5b7d852248c2d",
        "name": "",
        "label": "Set water level",
        "tooltip": "water level",
        "group": "e1dbf4df87a94135",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "ui",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "ebc97dd145771b10"
            ]
        ]
    },
    {
        "id": "4734d4d750243337",
        "type": "debug",
        "z": "10d5b7d852248c2d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "479b73513e570c0b",
        "type": "function",
        "z": "10d5b7d852248c2d",
        "name": "automatization",
        "func": "var required = global.get(\"required_wl\");\nvar margin = 5;\nvar auto = global.get(\"automatization\")\n\nif(Math.round(parseFloat(msg.payload) * 100) / 100 < (required - margin)){\n    msg.payload = \"start_irrigation\";\n}\nif (Math.round(parseFloat(msg.payload) * 100) / 100 > (required + margin)){\n    msg.payload = \"stop_irrigation\";\n}\nmsg.topic = \"ui\";\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "f88380e7861264fc"
            ]
        ]
    },
    {
        "id": "ebc97dd145771b10",
        "type": "function",
        "z": "10d5b7d852248c2d",
        "name": "read_from_slider",
        "func": "global.set(\"required_wl\", msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 480,
        "wires": [
            [
                "4734d4d750243337"
            ]
        ]
    }
]